{% extends "layout.html" %}

{% block title %}Answers{% endblock %}

{% block content %}
<h3>Answers</h3>
<ul>
 <h3>Q1: What is Earth's largest continent?</h3>
 <li> Answer: {{ session['firstQ'] }} <h4>{{ isRight1 }}</h4></li>
 <h3>Q2: What is the tallest mountain in the world?</h3>
 <li> Answer: {{session['secondQ']}} <h4>{{ isRight2 }}</h4></li>
 <h3>Q3: What is the flattest U.S. state?</h3>
 <li> Answer: {{session['thirdQ']}} <h4>{{ isRight3 }}</h4></li>
</ul>
<h4>{{ display }}</h4>

{% endblock %}
